<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- used to store credentials -->
	<!-- Used to specify which one of the sources are active -->
	<activePackageSource>
		<!-- this tells only one given source is active -->
		<add key="NuGet official package source" value="https://nuget.org/api/v2/" />
		<!-- this tells that all of them are active -->
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
	<!-- Used to disable package sources  -->
	<disabledPackageSources />
</configuration>