<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="LCU" value="https://pkgs.dev.azure.com/fathym/_packaging/LCU/nuget/v3/index.json" />
	</packageSources>
	<!-- used to store credentials -->
	<packageSourceCredentials>
		<LCU>
			<add key="Username" value="azure_devops" />
			<add key="ClearTextPassword" value="x3xtbkduqmvddz7opiyihcu2opglg7iguio4uluh57mxrchpv4bq" />
		</LCU>		
	</packageSourceCredentials>
	<!-- Used to specify which one of the sources are active -->
	<activePackageSource>
		<!-- this tells only one given source is active -->
		<add key="NuGet official package source" value="https://nuget.org/api/v2/" />
		<!-- this tells that all of them are active -->
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
	<!-- Used to disable package sources  -->
	<disabledPackageSources />
</configuration>